# Ensure we only use index.php for the index page.
DirectoryIndex index.php

# Setup PHP configuration for debug.
php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag log_errors on
php_value error_reporting -1
php_value error_log "/dev/stderr"

# Protect the .htaccess file.
<FilesMatch "\.htaccess$">
	Order Allow,Deny
	Deny from all
</FilesMatch>

# Protect the .gitignore file.
<FilesMatch "\.gitignore$">
	Order Allow,Deny
	Deny from all
</FilesMatch>

# URL rewrites.
RewriteEngine on
RewriteRule ^projects/?$ projects.php
RewriteRule ^blog/?$ blog.php
RewriteRule ^blog/([0-9\-]+)/([0-9a-zA-Z\-_]+)/?$ blog.php?date=$1&slug=$2 [QSA]
