/**
 * main.css
 * The bulk of the website's styling.
 *
 * @author Nathan Campos <nathan@innoveworkshop.com>
 */

html, body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	text-rendering: optimizeSpeed;

	margin: 0;
	color: #282828;
}

body {
	max-width: 800px;
	margin: auto;
	padding: 10px;
}

hr {
	height: 1px;
	border: 0 none;

	background-color: #585858;
	color: #585858;
}

a {
	color: #ab7025;
	text-decoration: none;
}

a:hover, a:active {
	color: #7e4c0d;
	border-bottom: 1px solid #ab7025;
}

a.email {
	color: #636363;
	letter-spacing: 1px;
}

pre {
	font-family: Courier New, monospace;
}

pre.code-block {
	max-width: 800px;
	padding: 5px;
	overflow-x: scroll;

	background-color: #ffefd5;
}

#title-head {
	margin-bottom: 10px;
}

#title-head h1 {
	margin: 0;

	font-size: 22pt;
	font-weight: normal;
}

#title-head #breadcrumbs {
	font-size: 10pt;
}

#navbar .spacer {
	display: inline-block;
	display: -moz-inline-box;
	visibility: hidden;

	width: 10px;
	text-align: center;
}

#content .section h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

#content #blog-post h2 a {
	font-weight: normal;
	font-size: 0.9em;
}

#content #blog-post h2 {
	margin-bottom: 0;
}

#content #blog-post #published-date {
	color: #636363;
}

#footer .last-modified {
	font-size: 9pt;
}
